* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 100%;
  min-height: 100vh;
  background-color: #1e1e1e;
  color: #e1e1e1;
  /* border: 1px solid green; */
}

.titles {
  text-align: center;
  font-size: clamp(2rem, 4vw + 0.2rem, 4rem);
  padding: 20px;
  /* margin: 20px; */
  /* border: 1px solid red; */
}