@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
}

.App {
  width: 100%;
  min-height: 100vh;
  background-color: #171717;
  color: #f9f9f9;
  /* border: 1px solid green; */
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid red; */
}

.menuIcon {
  position: absolute;
  top: 23px;
  left: 10px;
  font-size: 20px;
}

.closeIcon {
  font-size: 20px;
  margin: 10px;
}

.menu {
  position: absolute;
  height: 100vh;
  width: 50%;
  background-color: #212121;
  animation: popLeft 0.5s linear;
}

@keyframes popLeft {
  from {
    transform: translateX(-300px);
  }
  to {
    transform: translateX(0);
  }
}

.titles {
  text-align: center;
  font-size: clamp(2rem, 4vw + 0.2rem, 4rem);
  padding: 10px;
  /* margin: 20px; */
  /* border: 1px solid red; */
}

.controlDiv {
  display: flex;
  justify-content: center;
  /* border: 1px solid red; */
}

.inputs {
  border: 1px solid #333333;
  padding: 5px 10px;
  background-color: #171717;
  color: #f9f9f9;
}

.inputs::placeholder {
  color: #f9f9f9;
  opacity: 30%;
}

.addButton {
  padding: 6px 10px;
  background-color: #00DF5E;
  border: none;
  color: #171717;
  margin: 0 5px;
}

.editButton {
  padding: 6px 10px;
  background-color: #dbdf00;
  width: 79px;
  border: none;
  color: #171717;
  margin: 0 5px;
}

.tasksMainDiv {
  height: 81vh;
  margin: 10px;
  /* border: 1px solid red; */
}